* {
    padding: 0;
    margin: 0;
 
}
h1{
    display: flex;
    justify-content: center;
}
.caixa{
   width: 50%;
   margin: 0 auto;
   border: 1px solid rgb(0, 0, 0);
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 10px;

}
.areaDigita{
    width: 50vh;
}
div{
    padding-top: 10px;
}
.msg{
    display: flex;
    justify-content: center;
}

.botaodenviar{
    width: 180px;
}

nav,
footer {
    background-color: dimgray;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

footer {
    padding: 5px 2px 2px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100px;
    margin: 0 5px;
}

@media (max-width:700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100px;
        text-align: center;
        margin: 10px;
    }

}